<!DOCTYPE html>
<html>
<head>
  <title>MyPathMapping</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top bg-gray">
      <div class="page-header  flex-center">

        <div class="span-4-d debug">
        </div>
        <div class="span-4-d debug flex-center">
        <a href="/"><img src="/assets/logo3.png"></a>
        </div>

        <div class="span-4-d flex-center debug">
          <ul class="nav navbar-nav">
          <li><%= link_to "Map", maps_path, :class => "testing" %></li>
          <li><%= link_to "New Address", new_address_path %></li>
          <li><%= link_to "All Address", addresses_path %></li>
        </ul>
      </div>


     </div>

    </nav>

<%= yield %>

  </div>
</body>
</html>
