<!DOCTYPE html>
<html>
<head>
  <title>MyPathMapping</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top bg-gray">
      <div class="page-header  flex-center">
        <a href="/"><img src="/assets/logo2.png"></a>
        <%= link_to "Map", maps_path %>
     </div>

    </nav>

<%= yield %>

  </div>
</body>
</html>
