<div class="wrapper flex-center">

      <div class="col-xs-12 col-sm-6 col-md-8 debug ">
        <h1 class="panel-heading ta-cen">Add Address</h1>


<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :entity_type %><br>
    <%= f.text_field :entity_type, :class => 'form-control' %>
  </div><br>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default'%>
    <%= link_to 'Back', addresses_path, :class => 'btn btn-default' %>

  <p id="notice"><%= notice %></p>
  </div>
<% end %>
</div>
</div>
</div>
</div>
